form((submit)="login(user)")
  input(placeholder="email", type="email", [(ngModel)]="user.email")
  input(placeholder="password", type="password", [(ngModel)]="user.password")
  input(value="Login" type="submit")
