:host
  background-image: url(login-background.jpg)
  background-repeat: no-repeat
  background-size: cover

:host, form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  flex: 1

input[type="email"], input[type="password"]
  width: 70%
  border: none
  outline: none
  color: white
  line-height: 2em
  padding: 0.25em
  background-color: transparent

input:focus
  border-bottom: thin solid white
